{% extends 'main/base.html'%}
{% block title %} Review Page {% endblock%}
{% load crispy_forms_tags %}
{% block content%}

<div class="container text-center" style="margin-top: 6vh; font-size: 20px;">
    <br>
    <h1><b>Review Reports</b></h1>
</div>
    <br>
<div class="container text-center" style="color: black;">
    <form method="get" action="{% url 'main:reviewreports_view' %}">
        <select name="tag" id="tag" style="color: black; border-radius: 4px;">
            <option value="" style="color: black;"> All Tags </option>
            {% for value, label in TAG_OPTIONS %}
                <option value="{{ value }}" style="color: black;">{{ label }}</option>
            {% endfor %}
        </select>
        <select name="status" id="status" style="color: black; border-radius: 4px;">
            <option value="" style="color: black;"> All Status </option>
            {% for value, label in STATUS_OPTIONS %}
                <option value="{{ value }}" style="color: black;">{{ label }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn-sm btn-info">Filter</button>
    </form>
    <br>
</div>
<div class="container overflow-auto" style="max-height: 65vh; max-width: 90vw;">
    {% if user.is_authenticated %}
        {% if user.site_admin == True %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for form in forms %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column text-dark">
                            <h5 class="card-title">{{ form.instance.id }}</h5>
                            <form method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <p class="card-text text-dark">Files:</p>
                                <ul class="list-unstyled">
                                    {% for file in form.instance.file_set.all %}
                                    <li>
                                        <a href="{{ file.file.url }}" target="_blank" class="link-primary">{{ file.file.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <button type="submit" class="btn btn-primary mt-auto">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>You are not an authorized user, you should not be here, click Home</p>
        {% endif %}
    {% else %}
        <p>You are not currently logged in</p>
    {% endif %}
</div>

<style>
    label {
        color: black;
    }
</style>
{% endblock %}